<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <form class="row g-3 mt-5" [formGroup]="apiform">
        <div class="col-auto">
          <label for="name" class="visually-hidden">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            formControlName="name"
            placeholder="Name"
          />
        </div>
        <div class="col-auto">
          <label for="age" class="visually-hidden">Age</label>
          <input
            type="number"
            class="form-control"
            id="age"
            placeholder="Age"
            formControlName="age"
          />
        </div>
        <div class="col-auto">
          <button
            type="submit"
            class="btn btn-primary mb-3"
            (click)="filtrar()"
          >
            Filter
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-report1></app-report1>
  <app-report2></app-report2>
</div>
